.Project {
    /*position: absolute;*/
    margin-top: 1rem;
    font-size: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #dbe0e4;
    width: 18rem;
    flex-direction: column;
    overflow-y: auto;
    height: fit-content;
}

.scrollable-project {
    overflow-y: auto;
}


.project_inline_box {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 0;
}

.project_inline_box p {
    padding-top: 20px;
    margin-right: 15px;
}

.project_inline_box input,
.project_inline_box select {
    margin-top: 20px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.project_inline_box input {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.project_inline_box.budget input {
    width: 80px;
}


.Project_title {
    display: flex;
    flex-direction: column;
}

.tags-input-container{
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 4px;
    width: min(80vw, 400px);
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.tag-item{
    background-color: white;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
    font-size: 12px;
}



.tag-item .close{
    height:8px ;
    width: 8px;
    background-color: rgb(48,48,48);
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left:.5em;
    font-size: 8px;
    cursor: pointer;
}

.tags-input{
    flex-grow: 1;
    padding : .5em 0;
    border: none;
    outline: none;
}


.project_inline_box1{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 0;
}

.project_inline_box1 input {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}